<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
<!-- 	******************************************************************************************** -->
<!-- 	******************************************************************************************** -->
<!-- 	******************************************************************************************** -->
	<!-- User -->
	<!-- Dao -->
	<bean id="userDao" class="com.mm.cs.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Service -->
	<bean id="userService" class="com.mm.cs.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<!-- Action -->
	<bean id="userAction" class="com.mm.cs.actions.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
<!-- 	******************************************************************************************** -->
<!-- 	******************************************************************************************** -->
<!-- 	******************************************************************************************** -->	
	<!-- Basic -->
	<!-- Dao -->
	<bean id="basicDao" class="com.mm.cs.dao.BasicDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="departmentDao" class="com.mm.cs.dao.DepartmentDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="areaDao" class="com.mm.cs.dao.AreaDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Service -->
	<bean id="basicService" class="com.mm.cs.service.BasicService">
		<property name="basicDao" ref="basicDao"></property>
	</bean>
	
	<bean id="departmentService" class="com.mm.cs.service.DepartmentService">
		<property name="departmentDao" ref="departmentDao"></property>
	</bean>
	
	<bean id="areaService" class="com.mm.cs.service.AreaService">
		<property name="areaDao" ref="areaDao"></property>
	</bean>

	<!-- Action -->
	<bean id="basicAction" class="com.mm.cs.actions.BasicAction" scope="prototype">
		<property name="basicService" ref="basicService"></property>
		<property name="areaService" ref="areaService"></property>
		<property name="departmentService" ref="departmentService"></property>
	</bean>
	

<!-- 	******************************************************************************************** -->
<!-- 	******************************************************************************************** -->
<!-- 	******************************************************************************************** -->	
	<!-- Skill -->
	<!-- Dao -->
	<bean id="skillDao" class="com.mm.cs.dao.SkillDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="listFirstDao" class="com.mm.cs.dao.ListFirstDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="listSecondDao" class="com.mm.cs.dao.ListSecondDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="listThirdDao" class="com.mm.cs.dao.ListThirdDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="tradeFirstDao" class="com.mm.cs.dao.TradeFirstDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="tradeSecondDao" class="com.mm.cs.dao.TradeSecondDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="tradeThirdDao" class="com.mm.cs.dao.TradeThirdDao"> 
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Service -->
	<bean id="skillService" class="com.mm.cs.service.SkillService">
		<property name="skillDao" ref="skillDao"></property>
	</bean>
	
	<bean id="listFirstService" class="com.mm.cs.service.ListFirstService">
		<property name="listFirstDao" ref="listFirstDao"></property>
	</bean>
	
	<bean id="listSecondServcie" class="com.mm.cs.service.ListSecondService">
		<property name="listSecondDao" ref="listSecondDao"></property>
	</bean>
	
	<bean id="listThirdService" class="com.mm.cs.service.ListThirdService">
		<property name="listThirdDao" ref="listThirdDao"></property>
	</bean>
	
	<bean id="tradeFirstService" class="com.mm.cs.service.TradeFirstService">
		<property name="tradeFirstDao" ref="tradeFirstDao"></property>
	</bean>
	
	<bean id="tradeSecondService" class="com.mm.cs.service.TradeSecondService">
		<property name="tradeSecondDao" ref="tradeSecondDao"></property>
	</bean>
	
	<bean id="tradeThirdService" class="com.mm.cs.service.TradeThirdService">
		<property name="tradeThirdDao" ref="tradeThirdDao"></property>
	</bean>
	
	
	<!-- Action -->
	<bean id="skillAction" class="com.mm.cs.actions.SkillAction" scope="prototype">
		<property name="skillService" ref="skillService"></property>
		<property name="listFirstService" ref="listFirstService"></property>
		<property name="listSecondService" ref="listSecondServcie"></property>
		<property name="listThirdService" ref="listThirdService"></property>
		<property name="tradeFirstService" ref="tradeFirstService"></property>
		<property name="tradeSecondService" ref="tradeSecondService"></property>
		<property name="tradeThirdService" ref="tradeThirdService"></property>
	</bean>
	
	<!-- Show -->
	<!-- Dao -->
	<bean id="showDao" class="com.mm.cs.dao.ShowDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Service -->
	<bean id="showService" class="com.mm.cs.service.ShowService">
		<property name="showDao" ref="showDao"></property>
	</bean>
	
	<!-- Action -->
	<bean id="showAction" class="com.mm.cs.actions.ShowAction" scope="prototype">
		<property name="showService" ref="showService"></property>
	</bean>
</beans>
